<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Nav -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <link rel="stylesheet" href="popper.min.js">
    <title>Detalle de Productos--</title>
</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->
    {%block content %}
    <div>
        {% include "Nav.html " %}
    </div>
    {%endblock%}

    <!--- Productos-->

    <div class="container mb-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                       <center> <img src="{% static 'core/img/Tierra_1.jpg' %}" alt="10"  width="320"></center>
                        <div class="card-body">
                            <center> <h5 class="card-title">Anasac </h5>
                            <a href="{% static 'core/img/Tierra_1.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Fertilizante Fert Plant. De gran uso y rápido efecto.</p>
                            <p class="card-text">Precio: $13.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/Tierra_2.jpg' %}" alt="10"  width="300"></center>
                        <div class="card-body">
                            <center> <h5 class="card-title">Roots</h5>
                            <a href="{% static 'core/img/Tierra_2.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Macetero Geometrico</p>
                            <p class="card-text">Precio: $35.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center> <img src="{% static 'core/img/Tierra_3.jpg' %}" alt="10"  width="280"> </center>
                        <div class="card-body">
                            <center> <h5 class="card-title">Fiskars</h5>
                            <a href="{% static 'core/img/Tierra_3.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Tierrafert. Tierra De Hoja Con Compost. Sustrato Especial.</p>
                            <p class="card-text"> Precio: $5.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--- Footer-->
    <div>
        {% include "Footer.html" %}
    </div>

</html>