<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <!--<title>FLOWERSANDPOWER</title>-->

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="popper.min.js">
</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->

    <div>
        {% include "Nav.html " %}
    </div>

    <!--- Productos-->
    <div class="container mb-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/Arbusto/herramientas1.jpg' %}" alt="10"  width="310"></center>
                        <div class="card-body">
                           <center><h5 class="card-title">Kit de seguridad</h5></center>
                            <a href="{% static 'core/img/Arbusto/herramientas1.jpg' %}" ">ver producto</a>
                  <p></p>
                  <p class="card-text ">Kit basico de seguridad.</p>
                  <p class="card-text ">$21.990</p>
                  <a href="# " class="btn btn-primary ">Agregar al carrito</a>
              </div>
              </div>
            </div>
          </div>


          <div class="col-4 ">
            <div class="card w-40 card-border mb-2 ">
            <div class="card h-100 ">
               <center> <img src="{% static 'core/img/Arbusto/herramientas2.jpg' %}" alt="10"  width="310"></center>
                <div class="card-body ">
                  <center><h5 class="card-title ">Par de aros</h5></center>
                  <a href="{% static 'core/img/Arbusto/herramientas2.jpg' %}">ver producto</a>
                  <p></p>
                  <p class="card-text ">Par de aros negro para bicicletas de velocidad.</p>
                  <p class="card-text ">$51.990</p>
                  <a href="# " class="btn btn-primary ">Agregar al carrito</a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-4 ">
            <div class="ccard w-40 card-border mb-2 ">
            <div class="card h-100 ">
                <center><img src="{% static 'core/img/Arbusto/herramientas3.jpg' %}" alt="10"  width="380"></center>
                <div class="card-body ">
                  <center><h5 class="card-title ">Bolso trasero </h5></center>
                  <a href="{% static 'core/img/Arbusto/herramientas3.jpg' %}" alt="..."  >ver producto</a>
                  <p></p>
                  <p class="card-text ">Bolso negro,para la lluvia.</p>
                  <p class="card-text ">$21.990</p>
                  <a href="# " class="btn btn-primary ">Agregar al carrito</a>
              </div>
              </div>
            </div>
          </div>
      </div>    
    </div> 
    <div class="container mb-5 mt-5">
      <div class="row row-cols-2 row-cols-md-4 g-2">
          <div class="col-4">
              <div class="card w-40 card-border mb-2">
                  <div class="card h-100">
                      <center><img src="{% static 'core/img/Arbusto/herramientas4.jpg' %}" alt="10"  width="285"></center>
                      <div class="card-body">
                         <center><h5 class="card-title">Rejilla para bicicleta</h5></center>
                          <a href="{% static 'core/img/Arbusto/herramientas4.jpg' %}" ">ver producto</a>
                <p></p>
                <p class="card-text ">Rejilla para bicicleta de color negro, para todo tipo de bicicletas.</p>
                <p class="card-text ">$31.990</p>
                <a href="# " class="btn btn-primary ">Agregar al carrito</a>
            </div>
            </div>
          </div>
        </div>


        <div class="col-4 ">
          <div class="card w-40 card-border mb-2 ">
          <div class="card h-100 ">
             <center> <img src="{% static 'core/img/Arbusto/herramientas5.jpg' %}" alt="10"  width="400"></center>
              <div class="card-body ">
                <center><h5 class="card-title ">Multiherramientas allen</h5></center>
                <a href="{% static 'core/img/Arbusto/herramientas5.jpg' %}">ver producto</a>
                <p></p>
                <p class="card-text ">Multiherramientas para Bicicletas:
                   Llave allen 1.5, 2, 3, 4, 5, 6 mm,
                  Destornillador cruz y paleta,
                  Corona 8, 10 y 15 mm,
                  Dados 8, 9 y 10 mm,
                  ,troncha cadena y desmontadorde neumaticos.
                  </p>
                <p class="card-text ">$51.990</p>
                <a href="# " class="btn btn-primary ">Agregar al carrito</a>
            </div>
            </div>
          </div>
        </div>

        <div class="col-4 ">
          <div class="ccard w-40 card-border mb-2 ">
          <div class="card h-100 ">
              <center><img src="{% static 'core/img/Arbusto/herramientas6.jpg' %}" alt="10"  width="295"></center>
              <div class="card-body ">
                <center><h5 class="card-title ">Kit basico 2</h5></center>
                <a href="{% static 'core/img/Arbusto/herramientas6.jpg' %}" alt="..."  >ver producto</a>
                <p></p>
                <p class="card-text ">Kit basico 2 con luces y acsesorios.</p>
                <p class="card-text ">$21.990</p>
                <a href="# " class="btn btn-primary ">Agregar al carrito</a>
            </div>
            </div>
          </div>
        </div>
    </div>    
  </div>
  <div class="container mb-5 mt-5">
    <div class="row row-cols-2 row-cols-md-4 g-2">
        <div class="col-4">
            <div class="card w-40 card-border mb-2">
                <div class="card h-100">
                    <center><img src="{% static 'core/img/Arbusto/herramientas7.jpg' %}" alt="10"  width="310"></center>
                    <div class="card-body">
                       <center><h5 class="card-title">Candado de seguridad</h5></center>
                        <a href="{% static 'core/img/Arbusto/herramientas7.jpg' %}" ">ver producto</a>
              <p></p>
              <p class="card-text ">Candado de seguridad con Clave L50115Bk.</p>
              <p class="card-text ">$18.990</p>
              <a href="# " class="btn btn-primary ">Agregar al carrito</a>
          </div>
          </div>
        </div>
      </div>


      <div class="col-4 ">
        <div class="card w-40 card-border mb-2 ">
        <div class="card h-100 ">
           <center> <img src="{% static 'core/img/Arbusto/herramientas8.jpg' %}" alt="10"  width="310"></center>
            <div class="card-body ">
              <center><h5 class="card-title ">Bombin</h5></center>
              <a href="{% static 'core/img/Arbusto/herramientas8.jpg' %}">ver producto</a>
              <p></p>
              <p class="card-text ">Bombin portable de color gris.</p>
              <p class="card-text ">$11.990</p>
              <a href="# " class="btn btn-primary ">Agregar al carrito</a>
          </div>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="ccard w-40 card-border mb-2 ">
        <div class="card h-100 ">
            <center><img src="{% static 'core/img/Arbusto/herramientas9.jpg' %}" alt="10"  width="310"></center>
            <div class="card-body ">
              <center><h5 class="card-title ">Kit de reparacion</h5></center>
              <a href="{% static 'core/img/Arbusto/herramientas9.jpg' %}" alt="..."  >ver producto</a>
              <p></p>
              <p class="card-text ">Parches, bombin y pegamento.</p>
              <p class="card-text ">$13.990</p>
              <a href="# " class="btn btn-primary ">Agregar al carrito</a>
          </div>
          </div>
        </div>
      </div>
  </div>    
</div> 
   
   
    <!--- Footer-->
    <div>
        {% include "Footer.html" %}
    </div>
  
</body>

</html> 