<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pagina de Inicio</title>
    <!--<title>FLOWERSANDPOWER</title>-->
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">


    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="popper.min.js">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

    <!--- nav-->

<body>
    {%block content %}
    <div>
        {% include "Nav.html " %}
    </div>
    {%endblock%}

    <!--- CARROUSEL-->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="imgCarrusel" src="{% static 'core/img/index_2_1920.jpg' %}" class="data-bs-slide w-100" alt="..." width="450">
            </div>
            <div class="carousel-item">
                <img id="imgCarrusel" src="{% static 'core/img/index_3_3.jpg' %}" class="d-block w-100" alt="..." width="450">
            </div>
            <div class="carousel-item">
                <img id="imgCarrusel" src="{% static 'core/img/index_1_1.jpg' %}" class="d-block w-100" alt="..." width="450">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>



    <!--- Categorias-->

    <h1 id="texto"><strong>Más verde a tu vida</strong> </h1>

    <p id="parrafo">Inspírate con nuestros productos como: Árboles, Plantas, Flores y Maceteros. Encuentra todo lo que necesitas para darle más verde a tu vida. Si el producto que estas buscando no se encuentra en nuestra pagina web escríbenos a: contacto@flowersandpower.cl y haremos lo posible
        por traer el articulo para ti.</p>

    <h3 id="texto" class=" text-center pb-5 pt-5 h1"> <strong> Productos más vendidos</strong></h3>


    <div id="categorias">
        <div>
            <div class="card w-40 card-border mb-3">
                <div class="card h-100">
                    <img src="{% static 'core/img/imghome/P_1.jpg' %}"  width="250"alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fiskars</h5>
                        <a href="{% static 'core/img/imghome/P_1.jpg' %}">ver producto</a>
                        <p></p>
                        <p class="card-text">Pack Herramientas de Cultivo (Pala, Rastrillo y Trasplantador)</p>
                        <p class="card-text">$11.990</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card w-40 card-border mb-3">
                <div class="card h-100">
                    <img src="{% static 'core/img/imghome/P_2.jpg' %}"  width="300" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anasac </h5>
                        <a href="{% static 'core/img/imghome/P_2.jpg' %}">ver producto</a>
                        <p></p>
                        <p class="card-text">Fertilizante Fert Plant. De gran uso y rápido efecto.</p>
                        <p class="card-text">$13.990</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card w-40 card-border mb-3">
                <div class="card h-100">
                    <img src="{% static 'core/img/imghome/P_4.jpg' %}"  width="300" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anasac</h5>
                        <a href="{% static 'core/img/imghome/P_4.jpg' %}">ver producto</a>
                        <p></p>
                        <p class="card-text">Semillas de Acelga</p>
                        <p class="card-text">$1.990</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card w-40 card-border mb-3">
                <div class="card h-100">
                    <img src="{% static 'core/img/imghome/P_5.jpg' %}"  width="300" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Roots</h5>
                        <a href="{% static 'core/img/imghome/P_5.jpg' %}">ver producto</a>
                        <p></p>
                        <p class="card-text">Macetero Geometrico</p>
                        <p class="card-text">$35.990</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--- Footer-->

    <div>
        {% include "Footer.html" %}
    </div>

</html>