<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Nav -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="stylos.css">
    <link rel="stylesheet" href="popper.min.js">
    <title>Categoria Productos</title>
</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->
     <!--- Navbar Superior-->
     {%block content %}
     <div>
         {% include "Nav.html " %}
     </div>
     {%endblock%}

    <!--- Categorias-->
    <h1 id="texto"><strong>Servicio de Arriendo de Bicicletas</strong> </h1>
    <div class="container">
    <h6>Si tienes dudas sobre el arriendo de bicicletas escribenos o llamanos por whatsapp: +569 9999 9999 </h6>
    <small>
        Master Bikes ofrece el servicio de arriendo de bicicletas de montaña, fixie y paseo.
        Se puede arrendar durante toda la semana en nuestros locales ubicados en San Diego 555 y San Diego 808, dentro del horario de atención de Lunes a Viernes de 9:30 – 19:00 hrs. y Sábado de 10:00 a 14:00 hrs.
        Aspectos a destacar:
        •	Tipos de bicicletas: de paseo, fixie y mountain bike
        •	Se retiran y entregan en calle San Diego #555, San Diego #808, Santiago
        •	Horario: Lunes a Viernes 9:30 – 19:00 hrs y Sábado 10:00 – 14:00 hrs.
        •	Se entrega un casco y porta caramagiola que se encuentran incluidos en el precio del arriendo
        •	No considera entrega de candados, bombines, guantes, chaleco reflectante, caramagiola u otro accesorio
        Valores:
        •	0-24 horas:$18.000 CLP –   (19 USD)
        •	Arriendo Semanal:$70.000 CLP – (87 USD)
        •	Arriendo Mensual:$140.000 CLP – (174 USD)
        Requisitos:
        Para el arriendo se solicita un documento de identificación válida que tenga fotografía y se requiere que el cliente deje un abono en efectivo de:
        •	$50.000 (62 USD) para una bicicleta de paseo,, fixie y de montaña aro 26
        •	$90.000 (110 USD) y $120.000 (150 USD) para una bicicleta de montaña aro 27.5.
        
        </small>

    </div>
    
    <!--- Categoria macetero-->
    <div class="container mb-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/Producto_1.png' %}"  width="420" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">JEEP</h5></center>
                            <a href="{% static 'core/img/Producto_1.png' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Bicicleta MTB de mujer,aro 27.5</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta2.jpg' %}" width="360"  alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Fyxation</h5></center>
                            <a href="{% static 'core/img/bicicleta2.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Pixel Matte Black- Bicicleta Urbana</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta3.jpg' %}"  width="360" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Oxford</h5></center>
                            <a href="{% static 'core/img/bicicleta3.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Bicicleta infantil oxford luna aro 20</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta4.jpg' %}"  width="335" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Oxford</h5></center>
                            <a href="{% static 'core/img/bicicleta4.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Bicicleta infantil Oxford aro 20</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta5.jpg' %}" width="500" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Yerka</h5></center>
                            <a href="{% static 'core/img/bicicleta5.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Bicicleta yerka V3(S) color turquesa</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta6.jpg' %}"  width="440" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Canyon</h5></center>
                            <a href="{% static 'core/img/bicicleta6.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">DT Swiss P 1800 Spline db, 12-speed, bicicleta de competicion,
                                fibra de carbono a medida,shimano Ultegra DI2 R8150 </p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta7.jpg' %}"  width="410" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Trek</h5></center>
                            <a href="{% static 'core/img/bicicleta7.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">La Top Fuel 9.7 de carbono con doble suspensión</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta8.jpg' %}" width="410" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Specialized</h5></center>
                            <a href="{% static 'core/img/bicicleta8.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">BICICLETA SPECIALIZED ROCKHOPPER EXPERT 29</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/bicicleta9.jpg' %}"  width="410" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title">Sccot</h5></center>
                            <a href="{% static 'core/img/bicicleta9.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">BICICLETA SCOTT GENIUS 910 doble suspencion</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Arrendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div>
        {% include "Footer.html" %}
    </div>

</html>