<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <!--<title>FLOWERSANDPOWER</title>-->

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="popper.min.js">

</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->
    {%block content %}
    <div>
        {% include "Nav.html " %}
    </div>
    {%endblock%}
    <!--<h1>FLOWERSANDPOWER</h1>-->

   <br>
   <br>
   <br>
   <center><h3>Mantenciones disponibles:</h3></center>
    <!--- Categoria macetero-->
    <div class="container mb-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/matencion_completa.jpg' %}"  width="420" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/matencion_completa.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion completa para bicicletas.</p>
                            <p class="card-text">$20.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/matencion_media.jpg' %}" width="420"  alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/matencion_media.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion media para bicicletas.</p>
                            <p class="card-text">$15.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/matencion_conretiro.jpg' %}"  width="420" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/matencion_conretiro.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion completa con retiro y entraa su horgar</p>
                            <p class="card-text">$25.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion frenos.jpg' %}"  width="500" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion frenos.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion de frenos.</p>
                            <p class="card-text">$6.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_camaras.webp' %}" width="400" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_camaras.webp' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Cambio de camaras de las 2 ruedas.</p>
                            <p class="card-text">$5.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_cambios.jpg' %}"  width="400" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_cambios.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion completa a los cambios. </p>
                            <p class="card-text">$7.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_centrarrueda.webp' %}"  width="410" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_centrarrueda.webp' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion para centrar ruedas.</p>
                            <p class="card-text">$8.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_masas.jpg' %}" width="485" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_masas.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion de masas delatera y trasera.</p>
                            <p class="card-text">$8.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_motor.jpg' %}"  width="410" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_motor.jpg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantencion para el Motor</p>
                            <p class="card-text">$7.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <center><img src="{% static 'core/img/mantencion_ruedas.jpeg' %}"  width="480" alt="..."></center>
                        <div class="card-body">
                            <center><h5 class="card-title"></h5></center>
                            <a href="{% static 'core/img/mantencion_ruedas.jpeg' %}">ver producto</a>
                            <p></p>
                            <p class="card-text">Mantenicion para las Ruedas</p>
                            <p class="card-text">$6.000</p>
                            <center><a href="/form_reparacion" class="btn btn-primary">Solicitar Matencion</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- Footer-->
    <!--- Footer-->
    <div>
        {% include "Footer.html" %}
    </div>


<div id="modaldesconnexion" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Desconectar Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $("#modaldesconnexionb").on('click', function() {
        $("#modaldesconnexion").modal('show');
    });
</script>

</html>