<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <!--<title>FLOWERSANDPOWER</title>-->

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="popper.min.js">

</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->
    {%block content %}
    <div>
        {% include "Nav.html " %}
    </div>
    {%endblock%}
    <!--<h1>FLOWERSANDPOWER</h1>-->

   
   
    <!--- Categoria macetero-->
    <div class="container mb-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-2">
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <img src="{% static 'core/img/Macetero_1.jpg' %}"  width="420" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Roots</h5>
                            <a href="archivos iniciales/Fotos/FotosProductos/P_8.jpg">ver producto</a>
                            <p></p>
                            <p class="card-text">Macetero 10 litros</p>
                            <p class="card-text">$18.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card w-40 card-border mb-2">
                    <div class="card h-100">
                        <img src="{% static 'core/img/Macetero_2.jpg' %}" width="450" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Roots</h5>
                            <a href="archivos iniciales/Fotos/FotosProductos/P_6.jpg">ver producto</a>
                            <p></p>
                            <p class="card-text">Macetero Geometrico</p>
                            <p class="card-text">$35.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ccard w-40 card-border mb-2">
                    <div class="card h-100">
                        <img src="{% static 'core/img/Macetero_3.jpg' %}"  width="430" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Roots</h5>
                            <a href="archivos iniciales/Fotos/FotosProductos/P_5.jpg">ver producto</a>
                            <p></p>
                            <p class="card-text">Macetero 50 litros</p>
                            <p class="card-text">$29.990</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--- Footer-->
    <!--- Footer-->
    <div>
        {% include "Footer.html" %}
    </div>


<div id="modaldesconnexion" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Desconectar Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $("#modaldesconnexionb").on('click', function() {
        $("#modaldesconnexion").modal('show');
    });
</script>

</html>